services:
  morfeo-server:
    image: morfeo-app
    build:
      context: .
      dockerfile: Dockerfile
    container_name: morfeo-server
    command: ["./morfeo", "server", "--msg", "unMensaje", "--chat", "unChat"]

    ports:
      - "8000:8000"

    environment:
      SERVERURL: ${SERVERURL}
      MONGOUSER: ${MONGOUSER}
      MONGOPW: ${MONGOPW}
      MONGOCLUSTER: ${MONGOCLUSTER}
      MONGOAPP: ${MONGOAPP}
      BOT_TOKEN: ${BOT_TOKEN}
      GIN_MODE: release

    volumes:
      - ./tmp:/tmp

    restart: no
  morfeo-cli:
    image: morfeo-app
    build:
      context: .
      dockerfile: Dockerfile
    container_name: morfeo-cli
    stdin_open: true
    tty: true
    entrypoint: /bin/sh
    command:

    environment:
      SERVERURL: ${SERVERURL}
      MONGOUSER: ${MONGOUSER}
      MONGOPW: ${MONGOPW}
      MONGOCLUSTER: ${MONGOCLUSTER}
      MONGOAPP: ${MONGOAPP}
      BOT_TOKEN: ${BOT_TOKEN}
      GIN_MODE: release
      HOME: "/tmp"

    user: "${UID}:${GID}"

    volumes:
      - ./tmp:/tmp
      - ./tokens:/app/output
      - ./input:/app/input
    restart: "no"
