version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    container_name: golang-app
    command: go run main.go server
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      MONGO_URI: "mongodb://root:example@mongo:27017"
    ports:
      - "8000:8000"

volumes:
  mongo_data:
