services:
  app:
    image: morfeo-app
    build:
      context: .
      dockerfile: Dockerfile
    container_name: morfeo-app

    ports:
      - "8000:8000"

    environment:
      SERVERURL: ${SERVERURL}
      MONGOUSER: ${MONGOUSER}
      MONGOPW: ${MONGOPW}
      MONGOCLUSTER: ${MONGOCLUSTER}
      MONGOAPP: ${MONGOAPP}
      BOT_TOKEN: ${BOT_TOKEN}
      CHAT_ID: ${CHAT_ID}
      GIN_MODE: release

    volumes:
      - ./tmp:/tmp

    restart: no